BIND_ADDRESS=100.x.y.z
PORT=8080
SERVICE_TOKEN=
PUBLIC_BASE_URL=http://100.x.y.z:8080
YTDLP_PATH=yt-dlp
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
WORK_DIR=./work
MAX_DURATION_SEC=14400
FILE_TTL_MS=7200000
DOWNLOAD_TIMEOUT_MS=900000
COOKIES_FILE=
